services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: honcho_db
    ports:
      - "5432:5432"
    volumes:
      - ./init-db/db_schema.sql:/docker-entrypoint-initdb.d/db_schema.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  app:
    build: .
    container_name: go_coupon_api
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DB_URL: "postgres://postgres:postgres@postgres:5432/honcho_db?sslmode=disable"

volumes:
  postgres_data: